@import url('https://fonts.googleapis.com/css2?family=Jost:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
body{
    font-family: 'Jost', sans-serif; 
    margin: 0;
}
h1{
    padding-top: 20px;
    color:aliceblue;
    font-weight: bold;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 35px;
    line-height:17px;
}

.mainh1{
    padding-top: 20px;
    color:aliceblue;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 135px;
}

header{
    background-color: #68cc7e;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 70%;
    overflow:hidden;
}

.container-1{
    display: flex;
    justify-content: space-around;
}

.container-1 div{
    padding: 10px;
    background-color: white;
    margin: 15px;
}

.box-1{
    width: 6%;
    height: 17px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-2{
    width: 7%;
    height: 17px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-3{
    width: 9%;
    height: 17px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-4{
    width: 9%;
    height: 17px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-5{
    width: 5%;
    height: 17px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-6{
    width: 5%;
    height: 17px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main{
    background-color: #2f84c2;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 800px;
    overflow:hidden;
}

.main-container{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
}


.mainbox{
    width: 300px;
    height: 200px;
    margin: 10px -5px;
    background-color: #243e9c;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer{
    background-color:#5aa6ed;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 110px;
    overflow:hidden;
}